@import 'src/scss/variables';
.about-company {
  &__article {
  }

  &__text {
    font-size: rem(14);
    line-height: 18px;
    letter-spacing: 0.2px;
    margin-left: 17px;
    padding: 0;
  }
  &__photo-container {
    width: 100%;
    max-width: 360px;
  }
  &__photo {
    width: 100%;
  }
}

.text {
  margin: 10px 16px 0 0;
}

.read-more-button {
  position: relative;
  font-family: $medium;
  font-size: rem(16);
  padding: 0 48px 17px;
  letter-spacing: -0.2px;
  margin-top: 8px;
}

.read-more-button::before {
  content: '';
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
  border: 2px solid #41f6d7;
  border-radius: 2px;
  border-top: inherit;
  border-left: inherit;
  transform: rotate(45deg);
  left: 25px;
  top: 2px;
}

.read-more-button::after {
  content: '';
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
  border: 2px solid #41f6d7;
  border-radius: 2px;
  border-top: inherit;
  border-left: inherit;
  transform: rotate(45deg);
  left: 25px;
  top: 8px;
}

.read-more-button--active::before {
  content: '';
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
  border: 2px solid #41f6d7;
  border-radius: 2px;
  border-top: inherit;
  border-left: inherit;
  transform: rotate(-135deg);
  left: 25px;
  top: 5px;
}

.read-more-button--active::after {
  content: '';
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
  border: 2px solid #41f6d7;
  border-radius: 2px;
  border-top: inherit;
  border-left: inherit;
  transform: rotate(-135deg);
  left: 25px;
  top: 11px;
}

@media (min-width: 768px) {
  .about-company {
    display: flex;
    &__article {
    }
    &__text {
      padding-right: 50px;
    }
    &__text--hidden {
      padding-right: 50px;
      height: 125px;
      overflow: hidden;
    }
    &__photo-container {
    }
    &__photo {
      width: 355px;
      height: 209px;
      border-radius: 5px;
    }
  }
  .read-more-button {
  }
}
@media (min-width: 1120px) {
  .about-company {
    &__text--hidden {
      padding-right: 50px;
      height: 125px;
      overflow: hidden;
    }
    &__photo-container {
      margin-right: 30px;
      max-width: 100%;
      height: 100%;
    }
    &__photo {
      width: 500px;
      height: 100%;
    }
  }
}
@media (max-width: 767px) {
  .about-company {
    &__article {
    }

    &__text--hidden {
      height: 110px;
      overflow: hidden;
    }
  }
}
