@import 'src/scss/variables';
.about-company {
  &__article {
  }

  &__text {
    font-size: rem(14);
    line-height: 18px;
    letter-spacing: 0.2px;
    margin-left: 17px;
    padding: 0;
  }
  &__photo-container {
    width: 100%;
    max-width: 360px;
  }
  &__photo {
    width: 100%;
  }
}

.text {
  margin: 10px 16px 0 0;
}

.read-more-button {
  position: relative;
  font-family: $medium;
  font-size: rem(16);
  padding: 0 48px 17px;
  letter-spacing: -0.2px;
  margin-top: 8px;
}

.read-more-button::before {
  content: '';
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
  border: 2px solid #41f6d7;
  border-radius: 2px;
  border-top: inherit;
  border-left: inherit;
  transform: rotate(45deg);
  left: 25px;
  top: 2px;
}

.read-more-button::after {
  content: '';
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
  border: 2px solid #41f6d7;
  border-radius: 2px;
  border-top: inherit;
  border-left: inherit;
  transform: rotate(45deg);
  left: 25px;
  top: 8px;
}

.read-more-button--active::before {
  content: '';
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
  border: 2px solid #41f6d7;
  border-radius: 2px;
  border-top: inherit;
  border-left: inherit;
  transform: rotate(-135deg);
  left: 25px;
  top: 5px;
}

.read-more-button--active::after {
  content: '';
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
  border: 2px solid #41f6d7;
  border-radius: 2px;
  border-top: inherit;
  border-left: inherit;
  transform: rotate(-135deg);
  left: 25px;
  top: 11px;
}

@media (max-width: 767px) {
  .about-company {
    &__article {
    }

    &__text--hiden {
      height: 110px;
      overflow: hidden;
    }
  }

  .text {
  }
}
