@import 'src/scss/variables';
.brand {
  &__img {
    padding: 10px;
  }
}

.info-header {
  margin: 9px 0 15px 2px;
  padding: 0;
  background: linear-gradient(270deg, #f8f8f8 0%, #ffffff 98.61%);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  height: 56px;
  border-top: 1px solid #d9fff5;
  &__title {
    font-size: rem(16);
    color: $gray-text;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    padding: 17px 15px 0 15px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }
}
@media (min-width: 768px) and (max-width: 1119px) {
  .info-header {
    height: 56px;
  }
  .brand__info {
    background: linear-gradient(90deg, #f8f8f8 1.39%, #ffffff 100%);
    transform: none;
  }
  .brand__info-title {
    transform: none;
  }
}

@media (max-width: 767px) {
  .info-header {
    height: 80px;
  }
}
