.swiper-brand {
  position: relative;
  overflow: hidden;
  &::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 76px;
    z-index: 2;
    background: linear-gradient(
      270deg,
      #f8f8f8 16.84%,
      rgba(248, 248, 248, 0.0001) 100%
    );
  }
  &::-webkit-scrollbar {
    width: 0;
  }
  &__wrapper {
    height: 88px;
  }

  &__slide {
    width: auto;
    margin-left: 16px;
  }
}

.swiper-slide {
  &__item-brand {
    display: flex;
    position: relative;
    width: 240px;
    height: 72px;
    background-color: #fff;
    border: 1px solid #eaeaea;
    border-radius: 6px;
    justify-content: space-between;
    align-items: center;
  }
  &__item-brand::before {
    content: '';
    position: absolute;
    width: 36px;
    height: 36px;
    border: 2px solid #ff3e79;
    border-radius: 50%;
    right: 17px;
  }
  &__item-brand::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    border: 2px solid #ff3e79;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-radius: 2px;
    transform: rotate(45deg);
    right: 35px;
  }
}
.swiper-pagination-brand {
  margin-bottom: 20px;
  text-align: center;
}
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #b5b6bc;
  margin-right: 8px !important;
}

@media (min-width: 768px) {
  .swiper-brand {
    &::after {
      content: none;
    }
    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      height: 175px;
      width: 97%;
      align-items: center;
      margin: 0 auto;
    }
    &__slide {
      margin: auto;
      height: 90px;
      &:hover {
        filter: brightness(90%);
      }
    }
  }
  .swiper-slide {
    &__item-brand {
      width: 224px;
    }
  }

  .swiper-pagination-brand {
    display: none;
  }
}

.swiper-brand__wrapper--open {
  height: auto;
}

.brand-btn-button--active::before {
  content: '';
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
  border: 2px solid #41f6d7;
  border-radius: 2px;
  border-top: inherit;
  border-left: inherit;
  transform: rotate(-135deg);
  left: 25px;
  top: 5px;
}
.brand-btn-button--active::after {
  content: '';
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
  border: 2px solid #41f6d7;
  border-radius: 2px;
  border-top: inherit;
  border-left: inherit;
  transform: rotate(-135deg);
  left: 25px;
  top: 11px;
}

@media (max-width: 767px) {
  .brand-btn {
    display: none;
  }
}
