.overlay {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition-duration: 0.5s;
}
.burger__overlay {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition-duration: 0.5s;
}
.o--open {
  opacity: 0.96;
  visibility: visible;
  z-index: 3;
}
