@import '../variables';
.header {
  display: flex;
  height: 88px;
  background-color: $bg-white;
  align-items: center;
  margin-bottom: 24px;
  border-bottom: 1px solid #d9fff5;
  &__burger {
    margin-left: 17px;
  }

  &__logo {
    margin-left: 17px;
  }

  &__call {
    margin-right: 16px;
  }

  &__chat {
    margin-right: 16px;
  }

  &__repair {
    margin-right: 16px;
  }
}

.contact {
  display: flex;
  margin-left: auto;
  margin-right: 42px;
}

.repair-block {
  position: relative;
  display: flex;
  margin-right: 15px;
}
.repair-block::before {
  content: '';
  display: block;
  position: absolute;
  width: 32px;
  border-top: 2px solid #eaeaea;
  transform: rotate(90deg);
  right: 101px;
  top: 19px;
}

.btn-circle {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: $btn-red;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1120px) {
  .header {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1119px) {
  .header {
    &__burger {
      margin-left: 23px;
    }
    &__logo {
      position: relative;
      margin-left: 40px;
      &::before {
        content: '';
        display: block;
        position: absolute;
        width: 32px;
        border-top: 2px solid #eaeaea;
        transform: rotate(90deg);
        left: -35px;
        top: 30px;
      }
    }
  }
  .repair-block {
    margin-right: 25px;
  }
}
@media (max-width: 767px) {
  .contact {
    display: none;
  }
  .repair-block {
    margin-left: auto;
  }
}
