@import 'src/scss/variables';
.main-footer {
  height: 147px;
  border-top: 1px solid $border-light-green;
  display: flex;
  flex-direction: column;
  font-family: $medium;
  font-size: rem(14);
  line-height: 16px;
  color: $gray-text;
  text-align: center;
  mix-blend-mode: normal;
  opacity: 0.72;
}

.copyright {
  margin-bottom: 5px;
}

.footer-politics {
  margin-bottom: 3px;
}

.offer {
  padding-bottom: 19px;
}

@media (min-width: 768px) {
  .main-footer {
    flex-direction: row;
    height: 105px;
    align-items: baseline;
    text-align: left;
    margin-left: 16px;
  }
  .copyright {
    width: 600px;
    margin: 0;
    padding: 40px 0 0 0;
  }
  .footer-politics {
    width: 600px;
    margin: 0;
    padding: 40px 0 0 0;
  }

  .offer {
    margin: 0;
    padding: 40px 0 0 0;
  }
}
