/* Шрифты*/
$regular: 'TT Lakes Regular';
$medium: 'TT Lakes Medium';
$bold: 'TT Lakes Bold';

/*Цвета*/
$dark-text: #1b1c21;
$gray-text: #7e7e82;

$bg-white: #ffffff;
$bg-primary: #f8f8f8;
$bg-secondary: #f2f2f2;

$btn-red: #ff3e79;

$border-light-green: #d9fff5;
$border-gray: #eaeaea;

/*Размер шрифта*/
@use 'sass:math';
@function rem($px) {
  $result: math.div($px, 16) + rem;
  @return $result;
}
